$primary: #5f19dd;
$primary-purple: #800080;
$red: #d41212de;
$blue: #0051ff;

// For `color` and `background-color` properties
$colors: (
  primary: $primary,
  "green": #12d412de,
  "red": #d41212de,
  "yellow": #d4d412de,
  "blue": #0051ff,
);
